Rag.json
{
  "name": "Rag",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        112
      ],
      "id": "456f13a2-f333-4271-8f6d-1e3592991e66",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1zibC36ZRMyNCl-s7rjnoLLbDgEsBRWqn",
          "mode": "list",
          "cachedResultName": "National AI Policy-Final_uxc94vg.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1zibC36ZRMyNCl-s7rjnoLLbDgEsBRWqn/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        112
      ],
      "id": "8c94a42a-8656-4c0c-b459-2bf24ac05ff5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fAonkBIF48vDyrrK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "kaushalrag",
          "mode": "list",
          "cachedResultName": "kaushalrag"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        608,
        112
      ],
      "id": "0ecaf15f-eff8-48d2-a3d1-a4e0aa5575ea",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "NlJzHYH6obN5xt1a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        304
      ],
      "id": "e6db6bb1-c089-41c5-86aa-0ab53c7fc809",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        576,
        288
      ],
      "id": "df7705d2-03e1-4cf9-b30a-4935f082165a",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "d7sExbWHQR4dis6w",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        112,
        -304
      ],
      "id": "776fcca3-0fba-45a2-bea5-ccb3a15b8b56",
      "name": "When chat message received",
      "webhookId": "0cf8298a-9e20-436d-9e44-c098e22e381f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.snippet || $json.body }}",
        "options": {
          "systemMessage": "tYou are a document Q&A assistant. Always search the retrieved content for the most complete and direct answer. If the result is only a heading or table of contents, look for a chunk with actual explanation. If you find the answer, quote it directly. If not, ask for more context or a specific page."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        -304
      ],
      "id": "6f13d262-9e0c-4eb4-b24f-28cf35543bd6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        464,
        -80
      ],
      "id": "c9a03851-58da-46ae-b8ce-5f39e7a0ff1f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UgTH66pQcKMBKSMc",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve Embeddings for Query from Chat",
        "tableName": {
          "__rl": true,
          "value": "kaushalrag",
          "mode": "list",
          "cachedResultName": "kaushalrag"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1008,
        -32
      ],
      "id": "6d296a65-89dc-46e8-9304-6dbe347adce3",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "NlJzHYH6obN5xt1a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatInput || $json.snippet || $json.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        624,
        -96
      ],
      "id": "68ec339a-ab9f-4ba0-8fcf-d9234785ffcb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "BZjXm7RpXjgB6PcJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "\"National AI Policy\" OR \"AI policy\" OR \"Artificial Intelligence Policy\" OR \"Nepal AI Policy\" OR \"AI Policy 2025\" OR \"AI mission\" OR \"AI goals\" OR \"AI objectives\"",
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -144
      ],
      "id": "4a4b0e5e-8955-441b-b4d6-876e5bba5523",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "decjqTJ5WepojnEo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"From\"].match(/<(.+)>/)[1] }}",
        "subject": "=Re: {{ $json[\"Subject\"] }}",
        "message": "={{ $node[\"AI Agent\"].json[\"output\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        -304
      ],
      "id": "2cc38ce4-aae2-4ba4-a304-dfdfae38fc80",
      "name": "Send a message",
      "webhookId": "b493e80c-b43a-4240-b874-ce4a3980eeff",
      "credentials": {
        "gmailOAuth2": {
          "id": "decjqTJ5WepojnEo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6174248-e8b5-4087-8df4-366c7ddb168e",
              "leftValue": "={{ \n  (!!$json[\"Subject\"].toLowerCase().match(/national ai policy|ai policy|artificial intelligence policy|nepal ai policy|ai policy 2025|ai mission|ai goals|ai objectives/) || \n   !!$json[\"snippet\"].toLowerCase().match(/national ai policy|ai policy|artificial intelligence policy|nepal ai policy|ai policy 2025|ai mission|ai goals|ai objectives/)\n  ) && \n  !!$json[\"snippet\"].toLowerCase().match(/policy|mission|objectives|goals|framework/)\n}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0619a35d-0b3d-47cd-8c26-65f5cfc0ef70",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -144
      ],
      "id": "d7130c6d-7573-468d-a796-73debdddabdc",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "id": "844ad5ee-0031-48c5-ad74-90b4f1fd507b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b673372-37c8-4c27-ad6c-c0805192c212",
              "leftValue": "={{ \n  $json[\"From\"] !== undefined && \n  (\n    ($json[\"From\"].match(/<(.+)>/) ? $json[\"From\"].match(/<(.+)>/)[1] : $json[\"From\"])\n    !== 'kaushalbikram44@gmail.com'\n  )\n}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        -304
      ],
      "id": "3d33c386-a665-45c2-bed0-559b9270cf57",
      "name": "If1"
    },
    {
      "parameters": {
        "message": "={{ $node[\"AI Agent\"].json[\"output\"] }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1664,
        -464
      ],
      "id": "cd3adab7-04b4-483b-a411-8b551ba6cd59",
      "name": "Respond to Chat",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -224
      ],
      "id": "30bbf63f-be16-4fb0-b96c-da62d524f620",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "5683a2b7-4984-4614-a95c-632d8f82b789",
              "leftValue": "={{ $json[\"From\"] === undefined }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        -448
      ],
      "id": "fd500e3f-1820-482c-acdd-f407f1d003d2",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "491ee74d-e19c-45ef-8bea-52ba26b85758",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "289d0b08746fdf9ddbdd0d20607a839365d5428914742b8559f941297bb035b3"
  },
  "id": "K97MNBegWY5Or-1qW3z8p",
  "tags": []
}